<?xml version="1.0"?>
<config>
    <modules>
        <Trenza_Slider>
            <version>0.1.0</version>
        </Trenza_Slider>
    </modules>
    <frontend>
        <routers>
            <slider>
                <use>standard</use>
                <args>
                    <module>Trenza_Slider</module>
                    <frontName>slider</frontName>
                </args>
            </slider>
        </routers>
        <layout>
            <updates>
                <slider>
                    <file>trenza/slider.xml</file>
                </slider>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<slider>
				<use>admin</use>
				<args>
					<module>Trenza_Slider</module>
					<frontName>slider</frontName>
				</args>
			</slider>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<slider module="slider">
				<title>Home Slider</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="slider">
						<title>Manage Sliders</title>
						<sort_order>0</sort_order>
						<action>slider/adminhtml_slider</action>
					</items>
					<configuration>
						<title>Configuration</title>
						<sort_order>1</sort_order>
						<action>adminhtml/system_config/edit/section/slider</action>
					</configuration>
				</children>
			</slider>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Trenza_Slider>
							<title>Home Slider Module</title>
							<sort_order>10</sort_order>
						</Trenza_Slider>
						<system>
							<children>
								<config>
									<children>
										<slider>
											<title>slider Section</title>
										</slider>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<slider>
					<file>trenza/slider.xml</file>
				</slider>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <slider>
                <class>Trenza_Slider_Model</class>
                <resourceModel>slider_mysql4</resourceModel>
            </slider>
            <slider_mysql4>
                <class>Trenza_Slider_Model_Mysql4</class>
                <entities>
                    <slider>
                        <table>slider</table>
                    </slider>
                </entities>
            </slider_mysql4>
        </models>
        <resources>
            <slider_setup>
                <setup>
                    <module>Trenza_Slider</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </slider_setup>
            <slider_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </slider_write>
            <slider_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </slider_read>
        </resources>
        <blocks>
            <slider>
                <class>Trenza_Slider_Block</class>
            </slider>
        </blocks>
        <helpers>
            <slider>
                <class>Trenza_Slider_Helper</class>
            </slider>
        </helpers>
    </global>
	<default>
	    <slider>
			<general>                
				<heading>Home Page Slider</heading>              
				<show_description>1</show_description>
				<list_style>1</list_style>     
			</general>      
	    </slider>
	</default>
</config> 
